<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tint colors</key>
	<dict>
		<key>NumberPadButtonPressedColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>LogInViewControllerButtonBorderColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>LogInViewControllerButtonBackgroundColorForPressedState</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
			<real>0.5</real>
		</array>
		<key>ActivateSIPAccountViewControllerButtonBorderColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>ActivateSIPAccountViewControllerButtonBackgroundColorForPressedState</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
			<real>0.5</real>
		</array>
		<key>NumberPadButtonTextColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>TabBarBackgroundColor</key>
		<array>
			<integer>247</integer>
			<integer>247</integer>
			<integer>247</integer>
		</array>
		<key>TabBarTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>NavigationBarTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>ContactsTableSectionIndexColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>RecentsSegmentedControlTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>SideMenuTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>SideMenuButtonPressedState</key>
		<array>
			<integer>247</integer>
			<integer>247</integer>
			<integer>247</integer>
		</array>
		<key>NavigationBarBarTintColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>248</integer>
		</array>
		<key>AvailabilityTableViewTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>RecentsTableViewTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>ContactSearchBarTintColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>ContactSearchBarBarTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>LeftDrawerButtonTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>RecentsFilterControlTintColor</key>
		<array>
			<integer>46</integer>
			<integer>49</integer>
			<integer>146</integer>
		</array>
		<key>TwoStepScreenInfoBarBackgroundColor</key>
		<array>
			<string>229</string>
			<string>229</string>
			<string>229</string>
		</array>
		<key>TwoStepScreenVialerIconColor</key>
		<array>
			<string>46</string>
			<string>49</string>
			<string>146</string>
		</array>
		<key>TwoStepScreenBubblingColor</key>
		<array>
			<string>61</string>
			<string>65</string>
			<string>84</string>
		</array>
		<key>TwoStepScreenSideAIconColor</key>
		<array>
			<string>61</string>
			<string>65</string>
			<string>84</string>
		</array>
		<key>TwoStepScreenSideBIconColor</key>
		<array>
			<string>46</string>
			<string>49</string>
			<string>146</string>
		</array>
		<key>TwoStepScreenBackgroundHeaderColor</key>
		<array>
			<string>46</string>
			<string>49</string>
			<string>146</string>
		</array>
		<key>ReachabilityBarBackgroundColor</key>
		<array>
			<integer>178</integer>
			<integer>177</integer>
			<integer>184</integer>
		</array>
		<key>GradientBackgroundColors</key>
		<dict>
			<key>GradientStart</key>
			<array>
				<integer>46</integer>
				<integer>49</integer>
				<integer>146</integer>
			</array>
			<key>GradientEnd</key>
			<array>
				<integer>42</integer>
				<integer>45</integer>
				<integer>169</integer>
			</array>
			<key>GradientAngle</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>URLS</key>
	<dict>
		<key>Middelware BaseLink</key>
		<string>https://vialerpush.voipgrid.nl</string>
		<key>API</key>
		<string>https://api.voipgrid.nl/api</string>
		<key>Partner</key>
		<string>https://freedom.voys.nl</string>
		<key>SIP domain</key>
		<string>sipproxy.voipgrid.nl</string>
		<key>onboarding-nl</key>
		<string>https://www.voys.nl/app-info</string>
		<key>onboarding-en</key>
		<string>https://www.voys.nl/en/app-info</string>
	</dict>
</dict>
</plist>
