<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tint colors</key>
	<dict>
		<key>NumberPadButtonPressedColor</key>
		<array>
			<integer>145</integer>
			<integer>145</integer>
			<integer>145</integer>
		</array>
		<key>NumberPadButtonTextColor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>TabBarBackgroundColor</key>
		<array>
			<integer>247</integer>
			<integer>247</integer>
			<integer>247</integer>
		</array>
		<key>TabBarTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>NavigationBarTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>ContactsTableSectionIndexColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>RecentsSegmentedControlTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>SideMenuTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>NavigationBarBarTintColor</key>
		<array>
			<integer>248</integer>
			<integer>248</integer>
			<integer>248</integer>
		</array>
		<key>AvailabilityTableViewTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>RecentsTableViewTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>ContactSearchBarTintColor</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>ContactSearchBarBarTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>LeftDrawerButtonTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>RecentsFilterControlTintColor</key>
		<array>
			<integer>232</integer>
			<integer>126</integer>
			<integer>58</integer>
		</array>
		<key>TwoStepScreenInfoBarBackgroundColor</key>
		<array>
			<string>229</string>
			<string>229</string>
			<string>229</string>
		</array>
		<key>TwoStepScreenVialerIconColor</key>
		<array>
			<string>61</string>
			<string>65</string>
			<string>84</string>
		</array>
		<key>TwoStepScreenBubblingColor</key>
		<array>
			<string>61</string>
			<string>65</string>
			<string>84</string>
		</array>
		<key>TwoStepScreenSideAIconColor</key>
		<array>
			<string>61</string>
			<string>65</string>
			<string>84</string>
		</array>
		<key>TwoStepScreenSideBIconColor</key>
		<array>
			<string>241</string>
			<string>90</string>
			<string>41</string>
		</array>
		<key>TwoStepScreenBackgroundHeaderColor</key>
		<array>
			<string>241</string>
			<string>90</string>
			<string>41</string>
		</array>
		<key>ReachabilityBarBackgroundColor</key>
		<array>
			<integer>178</integer>
			<integer>177</integer>
			<integer>184</integer>
		</array>
		<key>GradientBackgroundColors</key>
		<dict>
			<key>GradientStart</key>
			<array>
				<integer>255</integer>
				<integer>141</integer>
				<integer>7</integer>
			</array>
			<key>GradientEnd</key>
			<array>
				<integer>255</integer>
				<integer>116</integer>
				<integer>47</integer>
			</array>
			<key>GradientAngle</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>URLS</key>
	<dict>
		<key>Middelware BaseLink</key>
		<string>https://vialerpush.voipgrid.nl</string>
		<key>API</key>
		<string>https://api.voipgrid.nl/api</string>
		<key>Partner</key>
		<string>https://partner.voipgrid.nl</string>
		<key>SIP domain</key>
		<string>sipproxy.voipgrid.nl</string>
		<key>onboarding-nl</key>
		<string>https://vialerapp.com/nl/app-info/</string>
		<key>onboarding-en</key>
		<string>https://vialerapp.com/app-info/</string>
	</dict>
</dict>
</plist>
